/*
* @Author: jade
* @Date:   2016-07-05 19:23:05
* @Last Modified by:   jade
* @Last Modified time: 2016-07-10 23:43:05
*/
.mask {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100000;
}
.dialog {
    display: none;
    width: 566px;
    height: 104px;
    padding: 60px 80px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -112px;
    margin-left: -368px;
    z-index: 100001;
    background-color: #fff;
    box-shadow: 0 0 20px #000;
    border-radius: 5px;
}

.dialog .close{
    width: 14px;
    height: 14px;
    position: absolute;
    right: 14px;
    top: 14px;
    cursor: pointer;
}
.dialog .title {
    font-size: 26px;
    text-align: center;
}
.dialog .input_wrap {
    border: 1px solid #BCBCBC;
    width: 564px;
    height: 35px;
    margin-top: 39px;
}

.dialog .input_wrap input {
    border: 0 none;
    height: 35px;
    line-height: 35px;
    width: 430px;
    vertical-align: top;
    padding-left: 5px;
}

.dialog .input_wrap .btn {
    display: inline-block;
    width: 129px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #17CCD5;
    color:#fff;
    cursor: pointer;
}


#layout {
    min-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
#layout.mobile{
    width: 100%;
}
.header {
    height: 77px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    min-width: 1200px;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.975);
    border-bottom: 1px solid #f6f6f6;
}
.footer {
    width: 1200px;
    height: 70px;
    line-height: 70px;
    text-indent: 75px;
    background-color: #F7F7F7;
}
#main{
    padding-top: 78px;
}
.text-center{
    text-align: center;
}
.fs30 {
    font-size: 30px;
}
.tac {
    text-align: center;
}

.nav li {
    float: left;
    height: 77px;
    line-height: 77px;
    margin-left: 50px;
}
.nav li.logo {
    margin-top: 13px;
    line-height: 77px;
    height: 51px;
}
.nav a {
    text-decoration: none;
}
.header .free-btn {
    border: 2px solid #17CCD5;
    height: 30px;
    width: 105px;
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    color: #17CCD5;
    margin-top: 22px;
    cursor: pointer;
    margin-right: 50px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.page1 {
    position: relative;
    margin-bottom: 5px;
}
.page1 video{
    width: 100%;
}
.page1 .desc{
    position: absolute;
    left: 50%;
    margin-left: -32%;
    width: 62%;
    top: 50%;
    margin-top: -10%;
}
.page1 .free-wrap {
    position: absolute;
    bottom: 20%;
    text-align: center;
    color: #fff;
    width: 100%;
}
.page1 .free-btn {
    display: inline-block;
    width: 160px;
    height: 30px;
    line-height: 30px;
    background-color: #17CCD5;
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}
.page1 .free-desc {
    color: #D1D1D1
}
.page2 {
}
.page2 .desc {
    background-color: #FBFBFB;
    text-align: center;
    padding: 10px 0;
}
.page3 {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.p3_1 {
    position: absolute;
    left: 50%;
    top: -90px;
    margin-left: -13%;
    width: 312px;
    height: 185px;
}
.mobile .p3_1 {
    width: 200px;
    margin-left: -100px;
    top: -10px;
}
.p3_2{
    display: inline-block;
    width: 148px;
    height: 38px;
    margin-top: 128px;
}
.p3_3_text {
    margin-left: 10%;
    width: 40%;
    padding-top: 100px;
}
.p3_3_text .title {
    margin-bottom: 70px;
}
.p3_3_text dt {
    font-size: 27px;
    margin-top: 23px;
}
.p3_3_text .size {
    margin-top: 48px;
    font-size: 12px;
    color: #606060;
}
.p3_3_text .f-l {
    margin-right: 50px;
}
.p3_3_text em {
    font-size: 40px;
    color: #17CCD5;
}
.page3_1{
    
}
.page3_1 .bg{
    height: 615px;
    width: 50%;
    background-image: url('img/p3_3.png');
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
}
.page4 {
    margin-top: 130px;
    position: relative;
    background-image: url('img/p4_1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 536px;
}
.page4 .text {
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 70px;
    top: 50%;
    margin-top: -35px;
}
.page5 .desc {
    padding: 20px 0;
    background-color: #FBFBFB;
}
.page5 .desc .wrap {
    background-color: #FBFBFB;
    width: 445px;
    margin: 0 auto;
}
.page5 .desc .f-l {
    margin-right: 50px;
    text-align: center;
}
.page5 .desc em {
    font-weight: normal;
    font-size: 48px;
    color: #17CCD5;
    line-height: 50px;
}
.page6 {
    max-width: 435px;
    margin: 60px auto 0;
    text-align: center;
}
.page7 {
    width: 1080px;
    margin: 20px auto;
}
.page7 .clr {
    margin: 0 auto;
}
.page7 .f-l {
    margin-left: 0.5%;
}
.page7 .f-l:first-child {
    margin-left: 0;
}
.page7 .desc {
    background-color:#FBFBFB; 
    text-align: center;
}
.page8 {
    width: 1200px;
    margin: 0 auto;
    margin-top: 170px;
    padding-bottom: 100px;
}
.page8 .s1 .f-l {
    margin-left: 20px;
}
.page8 .f-r{
    margin-top: 40px;
    width: 40%;
    margin-left: 20px;
}
.page8 .f-r .desc {
    border-bottom: 1px solid #979797;
    padding-bottom: 10px;
    width: 290px;
    white-space: nowrap;
    margin-bottom: 40px;
}
.page8 .f-r li {
    margin-bottom: 28px;
}
.page8 .f-r img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 34px;
}
.page8 .s2 {
    margin-top: 126px;
    padding-left: 10%;
}
.page8 .s2 .f-l {
    width: 28%;
    text-align: center;
    margin-left: 2%;
}
.page8 .s2 .f-l:first-child{
    margin-left: 0;
}
.page8 .s2 img {
    display: inline-block;
}
.page8 .s2 .right {
    margin-top: 290px;
}
.page8 .s3 {
    width: 60%;
    margin: 150px auto 0;
}
.page8 .s3 .f-l {
    width: 45%;
}
.page8 .s3 .f-l:first-child {
    margin-right: 10%;
    margin-top: 40px;
}
.page9 {
    background-color: #FBFBFB;
    padding: 100px 0;
}
.page9 .wrap {
    width: 895px;
    margin: 0 auto;
}
.page9 .f-l {
    width: 435px;
}
.page9 .f-r {
    width: 335px;
}
.page9 .f-r img{
    margin-left: 20px;
}
.page10 {
    position: relative;
    background-image: url('img/p10_1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 608px;
}
.page10 .wrap {
    position: absolute;
    width: 46%;
    top: 50%;
    left: 50%;
    margin-left: -23%;
    color: #fff;
    text-align: center;
    margin-top: -14%;
}
.page10 .center {
    position: relative;
    margin: 32px 0;
}
.page10 .p10_2 {
    width: 97px;
    position: absolute;
    top: 26px;
    left: 180px;
}
.page10 .p10_3 {
    width: 97px;
    position: absolute;
    top: 26px;
    right: 180px;
}
.page10  .p10_4 {
    width: 557px;
}
.page11{
    margin-top: 3px;
    position: relative;
    color: #fff;
    background-image: url('img/p11_1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 653px;
}
.page11 .top {
    position: absolute;
    text-align: center;
    top: 6%;
    width: 100%;
}
.page11 .bottom {
    position: absolute;
    bottom: 6%;
    left: 3%;
    right: 0;
}
.page11 .bottom img {
    height: 46px;
    width: auto;
}
.page11 .bottom .f-l {
    width: 16.25%;
    margin-left: 6%;
}
.page12{
    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
}
.page12 .s1 {
    text-align: center;
}
.page12 .wrap {
    margin-top: 45px;
}
.page12 .s1 .f-l{
    width: 214px;
    margin-left: 148px;
}
.page12 .s1 .f-l p{
    margin-top: 10px;
}
.page12 .s2 {
    margin-top: 140px;
    text-align: center;
}
.page12 .s2 img {
    display: inline-block;
    margin-top: 74px;
    width: 830px;
}
.page12 .s3 {
    margin-top: 160px;
    text-align: center;
}
.page12 .s3 .f-l{
    float: inherit;
    vertical-align: bottom;
    display: inline-block;
}
.page12 .s3 .f-l:first-child{
    margin-left: 0;
}
.p12_5_w {
    width: 132px;
    margin-right: 59px;
}
.p12_6_w {
    width: 88px;
    margin-right: 35px;
}
.p12_7_w {
    width: 249px;
}
.p12_8_w {
    width: 289px;
}
.p12_9_w {
    width: 98px;
}
.page13 {
    width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
    padding-bottom: 56px;
}
.page13 img {
    max-height: 490px;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}  
.swiper-slide{
    width: 80%;
}
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}  